html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/*background-color: #cbdfbd;*/
	/*background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");*/
}

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  	font-family: 'Nunito', sans-serif;
}

#lead-jumbo {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/coverpage.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

#first-button, #view-button, #send-button {
  background-color: #f9dc5c; 
  color: black;
  transition: 0.3s;
  border-color: #f9dc5c
}

#portfolio-jumbo {
  color: black;
  margin-bottom: 0px;
}

#contact-jumbo {
  background-color: black;
  margin-bottom: 0px
}

#about-jumbo {
  margin-bottom: 0px
}

#accordToggle {
  font-size: 25px;
}

#card-cap1 {
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/coverpage.jpg');
  background-position: top;
  background-size: cover;
  */
}

.card-body {
	padding-right: 40px;
  padding-left: 40px;
	color: white;
}

/*
h1, h3, h5 {
	color: white;
}
*/

h1 {
  margin-top: 25px;
}

footer {
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
      background-color: #343A40;
      color: #f9dc5c;
      /*background-color: #ffc107;*/
}

@media screen and (max-width: 400px)
  {    
    #footer-text {
      font-size: 10px;
    }
  }

  i {
    color: #f9dc5c;
  }

